*.class
*target*
*lib*

# Package Files #
*.jar
*.war
*.ear
log

# eclipse specific git ignore
*.pydevproject
*.project
*.metadata
*MANIFEST.MF
*.MF
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
*.classpath
*.settings/
*.loadpath

# Locally stored "Eclipse launch configurations"
*.launch